<div class = "showcase">
    <h1 class="name">Registration</h1>
    <form class = "account" id="Sign-Up">
        <div class = "sign">
            <h1 class="name">Sign Up</h1>
            <input class = "input" autocomplete="on" type="text" id = "username-signUp" placeholder="User Name: "/>
            <input class = "input" autocomplete="on" type="email" id = "email-signUp" placeholder="Email: "/>
            <input class = "input" autocomplete="on" type="password" id = "password-signUp" placeholder="Password: "/>
            </br>
            <!-- <button class="button" id="signUp">Sign Up</button> -->
            <input class="button"  id="signUp" type="button" value="Sign Up" name="encrypt">
            </br>
            </br>
        </div>
    </form>
    <form class = "account" id="Sign-In">
        <div class = "sign">
            <h1 class="name">Sign In</h1>
            <input class = "input" autocomplete="on" type="email" id = "email-signIn" placeholder="Email: "/>
            <input class = "input" autocomplete="on" type="password" id = "password-signIn" placeholder="Password: "/>
            </br>
            <!-- <button class="button" id="signIn">Sign Up</button> -->
            <input class="button"  id="signIn" type="button" value="Sign In" name="encrypt">
            </br>
            </br>
            </br>
            </br>
        </div>
    </form>      
</div>