<div class = "showcase">
    <h1 class="name">Set Account</h1>
    <p id="notification"></p>
    <div class = "sign">
        <form class = "account" id="Sign-Up">
            <h1 class="name">Sign Up</h1>
            <input class = "input" autocomplete="on" type="name" id = "username-signUp" placeholder="User Name: "/>
            <input class = "input" autocomplete="on" type="email" id = "email-signUp" placeholder="Email: "/>
            <input class = "input" autocomplete="on" type="password" id = "password-signUp" placeholder="Password: "/>
            </br>
            <button class="button" id="signUp">Sign Up</button>
        </form>
    </div>
    <div class = "sign">
        <!-- <div style="margin: 0 10px;"></div> -->
        <form class = "account" id="Sign-In">
            <h1 class="name">Sign In</h1>
            <input class = "input" autocomplete="on" type="email" id = "email-signIn" placeholder="Email: "/>
            <input class = "input" autocomplete="on" type="password" id = "password-signIn" placeholder="Password: "/>
            </br>
            <button class="button" id="signIn">Sign In</button>
        </form>
    </div>
</div>

<!-- <div style="margin-top: 50px;"></div> -->