<div class = "showcase">
    <h1 class="name">Encryption and Decryption</h1>
    <form id="encryption">
        <div>
            <label>Plaintext: </label>
            <textarea id="plaintext"></textarea>
        </div>
        <div>
            <label>Ciphertext: </label>
            <textarea id="ciphertext"></textarea>
        </div>
        <div>
            <input class="button" id = "encrypt" type="button" value="ENCRYPT" name="encrypt">
            <input class="button" id = "decrypt" type="button" value="DECRYPT" name="decrypt">
        </div>
    </form>
</div>