<div class = "showcase">
    <h1 class="name">Key Generation</h1>
    <form id="keygen">
        <div>
            <label>Public Key: </label>
            <textarea name="publicKey" id="pubicKey"></textarea>
        </div>
        <div>
            <label>Private Key: </label>
            <textarea name="privateKey" id="privateKey"></textarea>
        </div>
        <input class="button" id = "getKeys" type="button" value="GET KEYS" name="getKeys">
        <h>You can use the "GET KEYS" botton to randomly get a pair of keys from our database</h>
        <p>
        <input class="button" id = "genKeys" type="button" value="GENERATE KEYS" name="genKeys">
        <h>You can use the "GENERATE KEYS" botton to randomly generate a new pair of keys</h>
    </form>
</div>
<div style="margin-top: 50px;"></div>
